<div class="service service-summary">
  {{ if .Params.icon }}
  <div class="service-image">
    <img src="{{ .Site.BaseURL }}{{ .Params.icon }}"/>
  </div>
  {{ end }}
  {{ if .Params.fontawesome_icon }}
  <div class="service-image">
    <i class="{{ .Params.fontawesome_icon }}"></i>
  </div>
  {{ end }}
  <div class="service-content">
    <h2 class="service-title">
      {{ if .Params.enable_link }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ else }}
      <span class="no-link">{{ .Title }}</span>
      {{ end }}
    </h2>
    {{ .Content | truncate 120 "..." }}
  </div>
</div>