//---------------------------
// Theme Overrides
//---------------------------
.logo {
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

.brand-name {
    font-weight: $font-weight-bold;
}

.menu-item-contact {
    font-weight: $font-weight-bold;
}

.fas {
  font-size: 2em;
  color: $primary;
}

.hero-text {
  text-shadow: 2px 2px #000000;
}

// ----------- temp --------------

.sub-footer {
    display: none;
}

.button-primary {
    display: none !important;
}

// temp display | no footer navigation
.footer-menu {
    display: none !important;
}

.hero-down {
    visibility: hidden !important;
}